*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/leaguegothic-regular-webfont.eot');
    src: url('../fonts/leaguegothic-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/leaguegothic-regular-webfont.woff') format('woff'),
    url('../fonts/leaguegothic-regular-webfont.ttf') format('truetype'),
    url('../fonts/leaguegothic-regular-webfont.svg#league_gothicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Open Sans light';
    src: url('../fonts/OpenSans-Light.ttf');
    font-weight: normal;
    font-style: normal;

}
/**************************************************************************/
.bg{
    width:2400px;
}
.b_g1{
    height:845px;
    background-image: url(../img/background.jpg);
    background-position:   50% 0%;
}
.b_g2{
    height:338px;
    border-top: 1px solid #33253a;
    border-bottom: 1px solid #33253a;
    background-image:url(../img/background1.png);
}
.b_g3{
    height:488px;
    background-color:#f9f9f9;
    border-bottom:1px solid #d8d8d8;
}
.b_g4{
    height:120px;
    background-color: #f9f9f9;
    border-top:1px solid #fff;
    border-bottom:1px solid #fff;
}
.b_g5{
    height:397px;
    border-top:1px solid #d8d8d8;
    background-color:#ececec;
}
.b_g6{
    height:114px;
    background:url(../img/bg_footer.jpg) bottom center no-repeat;
}
.b_g7{
    position:absolute;
    margin-top:278px;
    height:400px;
    background-image:url(../img/overlay.png);
}
.wrapper{
    width:960px;
    margin-left: 720px;
    position: absolute;
    z-index: 1;
}

.clear{
    clear:both;
}

.logo{
    margin-top: 62px;
    float: left;
    font-size: 46px;
    font-family: "League Gothic", sans-serif;
    color: #fff;
}
.logo span{
    color:#724f81;
}
.menu{
    float: left;
    margin-top: 71px;
    margin-left: 170px;

}
.menu__item{
    float: left;
    list-style-type: none;
    margin-right: 52px;
}
#menu--item6{
    margin-right: 0px;
}
.menu__link{
    text-decoration:none;
    font-size:24px;
    font-family:"League Gothic", sans-serif;
    color:#fff;
    text-transform: uppercase
}
.menu__link:hover{
    border-bottom: 1px solid #edbfff;
}
.slider{
    width:1560px;
}
.arrow_right{
    float:right;
    margin-right: 160px;
    margin-top: 340px;
}
.arrow_left{
    float:right;
    margin-right: 293px;
    margin-left: -352px;
    margin-top: 339px;
}

.iphone{
    float:right;
    margin-right: 361px;
    margin-top: 144px;
}
.text{
    float:right;
    margin-right: 100px;
    margin-top: 235px;
    width:515px;
    overflow:hidden;
}
.text h1{
    font-family: "League Gothic", Tahoma, sans-serif;
    color:#fff;
    font-size: 57px;
    letter-spacing: 0.3px;
}
.text h3{
    font-family: "League Gothic", Tahoma, sans-serif;
    color: #edbfff;
    margin-top: -8px;
    font-size: 32px;
    letter-spacing: -0.1px;
}
.text p{
    font-family: "Open Sans Light", Tahoma, sans-serif;
    color: #fff;
    margin-top: 3px;
    font-size: 19px
}
.buttons{
    height: 40px;
    margin-left: 714px;
    margin-top: 74px;

}
.buttons div{
}
.buttons input{
    height: 15px;
    width: 15px;
    margin-right: 2px;
}
.container1{
    margin-top: 75px;
    width:960px;
}
.blurbs{
    float: right;
    width: 250px;
    margin-top: 33px;
}
.blurb1{
    margin-right: 19px;
}
.blurb2{
    margin-right: 86px;
}
.blurb3{
    margin-right: 89px;
}
.label{
    float: left;
    margin-top: 10px;
    margin-left: -6px;
    height: 34px;
    width: 37px;
    background: url(../img/sprite.png) 0 0 no-repeat;
}
.parag{
    float: right;
    width: 202px;
}
.parag h2{
    font-family: "League Gothic";
    font-size: 29px;
    color: white;
    text-transform: uppercase;
}
.parag p{
    font-size: 14px;
    color: #fff;
    font-family: "Open Sans Light", Tahoma, sans-serif;
    margin-top: 8px;
    margin-bottom: 16px;
}
.blurbs a{
    font-family: "League Gothic";
    float: right;
    font-size: 19px;
    text-decoration: none;
    margin-top: 24px;
    margin-right: -10px;
    color: #fff;
}
.label1{
    background: url(../img/sprite.png) -73px -2px no-repeat
}
.label2{
    background: url(../img/sprite.png) -39px -2px no-repeat
}
.label3{
    background: url(../img/sprite.png) -2px -2px no-repeat
}
.label1:hover{
    background: url(../img/sprite.png) -73px -40px no-repeat
}
.label2:hover{
    background: url(../img/sprite.png) -39px -40px no-repeat
}
.label3:hover{
    background: url(../img/sprite.png) -2px -40px no-repeat
}
.blurbs a:hover{
    text-shadow: 0 0 4px #fff !important;
}
.container2{

}
.starthere{
    float: left;
    margin-top: 63px;
    margin-left: 9px;
}
.comics{
    float:right;
    height:293px;
    width:428px;
    background:url(../img/background_stars.png) 0 0 no-repeat;
    margin-top:121px;
}
.faceimg{
    float:left;
    margin-left:-10px;
}
.comics_text{
    float:right;
    width:383px;
}
.comics_text h1{
    float:left;
    font-size: 30px;
    font-family: "League Gothic", sans-serif;
    color: #454545;
    margin-top: 9px;
    margin-left: 8px;
}
.comics_text h2{
    float:left;
    font-size: 30px;
    font-family: "League Gothic", sans-serif;
    color: #edbfff;
    margin-top: 9px;
    margin-left: 8px;
}

.comics_text p{
    margin-top:8px;
    font-size:18px;
    font-family:"Open Sans Light",sans-serif;
}
.r_buttons{
    margin-left:187px;
}
.updates{
    float: left;
    width: 449px;
    margin-left: 72px;
    margin-top: 193px;
}
.line{
    height:52px;
    margin-top:15px;
}
.updates h1{
    font-family:"League Gothic", sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
.updates p{
    font-family:"Open Sans Light",sans-serif;
    font-size:17px;
}
.updates span{
    font-family:"Open Sans Light", sans-serif;
    font-weight:bold;

}
.updates a{
    text-decoration:none;
    font-size:18px;
    font-family:"League Gothic", sans-serif;
    color:#000;
    margin-left:347px;
}
.updates_link{
    margin-top:13px;
}
.updates_text{
    float:right;
    width:390px;
    margin-top:4px;

}
.updates_img{
    float:left;
    margin-right:10px;
}
.container3{
    height: 70px;
}
.icons{
    float:right;
    margin-top: 42px;
}
.icon1{
    height:61px;
    width:78px;
    margin-right: 93px;
    background-image:url(../img/logo1.png);
}
.icon2{
    height:21px;
    width:103px;
    margin-right: 64px;
    margin-top: 62px;
    background-image:url(../img/logo2.png);
}
.icon3{
    height:62px;
    width:50px;
    margin-right: 69px;
    background-image:url(../img/logo3.png);
}
.icon4{
    height:62px;
    width:63px;
    margin-right: 76px;
    background-image:url(../img/logo4.png);
}
.icon5{
    height:66px;
    width:74px;
    margin-right: 64px;
    margin-top: 40px;
    background-image:url(../img/logo5.png);
}
.icon6{
    height:63px;
    width:67px;
    margin-right: 66px;
    background-image:url(../img/logo6.png);
}
.container4{
    margin-top:26px;
}
.notes{
    float: right;
    margin-top: 123px;
}
.note1{
    margin-right: 43px;
}
.note2{
    margin-right: 99px;
}
.note3{
    margin-right: 98px;
    margin-top: 119px
}
.some_text{
    float: right;
    width: 240px;
}
.some_text h1{
    font-family: "League Gothic";
    font-size: 46px;
    text-transform: uppercase;
    color:#454545;
}
.some_text h2{
    font-family: "League Gothic";
    font-size: 29px;
    color: #000;
    text-transform: uppercase;
    color:#454545;
}
.some_text h6{
    font-size: 13px;
    margin-top:15px;
    font-family: "Open Sans Light", Tahoma, sans-serif;
    color:#c9c9c9;
    font-style:italic;
}
.some_text span{
    color:#b9b9b9;
}
.some_text p{
    font-size: 16px;
    margin-top: 5px;
    color: #000;
    font-family: "Open Sans Light", Tahoma, sans-serif;
}

.footer__menu{
    list-style-type:none;
     padding:30px\0/; /* отступ 70px только для Internet Explorer 8 */

}


.designer{
    float: left;
    margin-top: 109px;
    margin-left: 249px;
    color: #fff;
    font-family: "League Gothic", sans-serif;
}
.designer p{
    font-size: 15px;
}
.designer span{
    font-family: "Open Sans Light", Tahoma, sans-serif;
    font-size: 12px;
    margin-right: 9px;
}
.footer__menu__item{
    float:left;
    margin-top: 103px;
    margin-right: 41px;
    list-style-type:none;
}
.footer__menu__link{
    text-decoration:none;
    font-size:21px;
    font-family:"League Gothic", sans-serif;
    color:#fff;
    text-transform: uppercase
}
.footer__menu__link:hover{
    text-decoration:underline;
}

/******************************************************************************************/

@media(max-width:768px) \0screen {

    .bg{
        width:768px;
    }
    .b_g1{
        height:798px;
    }
    .b_g2{
        height:341px;
        background-image:url(../img/background1_768px.png);
    }
    .b_g3{
        height:487px;
    }
    .b_g4{
        height:117px;
    }
    .b_g6{
        height:200px;
    }
    .b_g7{
        margin-top:244px;
        background-image: none;
        background-color:	rgba(0,0,0,0.4);
    }
    .wrapper{
        width:768px;
        margin-left:0;
    }
    .slider{
        width:768px;
    }
    .logo{
        margin-left: 20px;
        float: none;
    }
    .menu{
        float: none;
        margin-top: 25px;
        margin-left: 17px
    }
    .slider{
        width:760px;
    }
    .arrow_right{
        float:right;
        margin-right: -6px;
        margin-top: 253px
    }
    .arrow_left{
        float:right;
        margin-right: 15px;
        margin-left: -40px;
        margin-top: 253px;
    }

    .iphone{
        float:right;
        margin-right: 21px;
        margin-top: 51px;
    }
    .text{
        float: right;
        margin-right: 135px;
        margin-top: 167px;
        width: 268px;
        height: 204px;
    }
    .text h1{
        font-size: 46px;
    }
    .text h3{
        margin-top: 5px;
        font-size: 21px;
    }
    .text p{
        margin-top: 7px;
        font-size: 17px;
    }
    .buttons {
        margin-left: 544px;
        margin-top: 24px;
    }

    .container1{
        margin-top: 75px;
        width:768px;
    }
    .blurbs{
        width: 242px;
        height:200px;
        margin-top: 75px;
        overflow: hidden;
    }
    .blurb1{
        margin-right: 0px;
    }
    .blurb2{
        margin-right: 20px;
    }
    .blurb3{
        margin-right: 20px;
    }
    .label{
        float: left;
        margin-top: 0px;
        margin-left: 0px;
        height: 27px;
        width: 27px;
    }
    .parag{
        float: right;
        width: 176px;
    }
    .parag h2 {
        font-size: 24px;
    }
    .blurbs a{
        margin-top: 159px;
        margin-right: -164px
    }

    .starthere{
        float: left;
        margin-top: 63px;
        margin-left: 9px;
    }
    .comics{
        height: 293px;
        width: 315px;
        margin-top: 107px;
        margin-left:31px;
    }
    .faceimg{
        margin-left: -22px;
        margin-top: 16px;
    }
    .comics_text{
        width: 287px;
        margin-top: 23px;
        overflow: hidden;
        height: 195px;
    }
    .comics_text h1{
        font-size: 24px;
        margin-top: 1px;
        margin-left: 13px
    }
    .comics_text h2{
        float: none;
        font-size: 25px;
        margin-top: 29px;
        margin-left: 12px;
    }

    .comics_text p{
        margin-top: 0px;
        font-size: 16px;
        margin-left: 12px;
    }
    .r_buttons{
        margin-left:156px;
    }
    .updates{
        width: 334px;
        margin-left: 59px;
        margin-top: 194px;
    }
    .line{
        height: 52px;
        width: 307px;
        font-size: 15px;
    }
    .updates p{
        font-size:13px;
    }
    .updates a{
        margin-top: 12px;
        margin-left: 217px
    }
    .updates_link{
        margin-top:13px;
    }
    .updates_text{
        width: 241px;
        height: 40px;
        margin-left: 0px;
        margin-top: 0px;
        overflow: hidden;

    }
    .updates_img{
        margin-right:0px;
    }

    .container3{
        height: 70px;
    }
    .icons{
        float:right;
        margin-top: 50px;
    }
    .icon1{
        margin-right: 21px;
    }
    .icon2{
        margin-right: 57px;
        margin-top: 74px;
    }
    .icon3{
        margin-right: 58px;
    }
    .icon4{
        margin-right: 67px;
    }
    .icon5{
        margin-right: 53px;
    }
    .icon6{
        margin-right: 54px;
    }

    .notes{
        margin-top: 127px;
    }
    .note1{
        margin-right: 5px;
    }
    .note2{
        margin-right: 50px;
    }
    .note3{
        margin-right: 48px;
    }
    .some_text{
        width: 215px;
        height: 198px;
        overflow: hidden;
    }
    .some_text h2{
        font-size: 24px;
    }
    .some_text p{
        font-size: 15px;
        margin-top: 5px;
    }
    .designer{
        margin-top: 32px;
        margin-left: 608px;
    }
    .footer__menu__item{
        margin-top: 143px;
        margin-right: 25px;
        margin-left: 18px;
    }
}

/***********************************************************************************/

@media(max-width:480px) \0screen {
    .bg{
        width:480px;
    }
    .b_g1{
        height:548px;
    }
    .b_g2{
        height:597px;
        background-image:url(../img/background1_480px.png);
    }
    .b_g3{
        height:786px;
    }
    .b_g4{
        height:230px;
    }
    .b_g5{
        height:668px;
    }
    .b_g6{
        height:200px;
    }
    .b_g7{
        margin-top:203px;
        height:246px;
        background-image: none;
        background-color:	rgba(0,0,0,0.4);
    }
    .wrapper{
        width:480px;
    }
    .slider{
        width:480px;
    }
    .logo{
        margin-top: 63px;
        margin-left:162px;
    }

    .menu{
        text-align: center;
        margin-top: 20px;
        height: 249px;
        width: 241px;
        border: 1px solid #1c252a;
        position: absolute;
        background-color: rgba(116,80,131,0.5);
        border-radius: 10px;
        margin-left: 118px
    }
    .menu ul{
        margin-top: 0px;
    }
    #menu--item1{
        padding-top: 4px;
        width: 243px;
        margin-top: 0px;
        height: 36px;
        margin-left: -1px;
        border-bottom: 1px solid #37293f;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    #menu--item2{
        padding-top: 4px;
        width: 243px;
        margin-top: 0px;
        height: 36px;
        margin-left: -1px;
        border-top: 1px solid #513e58;
        border-bottom: 1px solid #37293f;

    }
    #menu--item3{
        padding-top: 4px;
        width: 243px;
        margin-top: 0px;
        height: 36px;
        margin-left: -1px;
        border-top: 1px solid #513e58;
        border-bottom: 1px solid #37293f;

    }
    #menu--item4{
        padding-top: 4px;
        width: 243px;
        margin-top: 0px;
        height: 36px;
        margin-left: -1px;
        border-top: 1px solid #513e58;
        border-bottom: 1px solid #37293f;

    }
    #menu--item5{
        padding-top: 4px;
        width: 243px;
        margin-top: 0px;
        height: 36px;
        margin-left: -1px;
        border-top: 1px solid #513e58;
        border-bottom: 1px solid #37293f;

    }
    #menu--item6{
        padding-top: 4px;
        width: 243px;
        margin-top: 0px;
        height: 36px;
        margin-left: -1px;
        border-top: 1px solid #513e58;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

    }
    #menu--item1:hover{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #edbfff;
    }
    #menu--item2:hover{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #edbfff;
    }
    #menu--item3:hover{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #edbfff;
    }
    #menu--item4:hover{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #edbfff;
    }
    #menu--item5:hover{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #edbfff;
    }
    #menu--item6:hover{
        background-color:rgba(0,0,0,0.4);
        border-bottom:1px solid #edbfff;
    }
    .arrow_right{
        margin-right: 0px;
        margin-top: 187px;
    }
    .arrow_left{
        margin-right: 10px;
        margin-top: 186px
    }

    .iphone{
        margin-right: 4px;
        margin-top: 76px;
    }
    .iphone img{
        width:192px;
    }
    .text{
        width: 199px;
        height: 206px;
        margin-right: 18px;
        margin-top: 175px;
    }
    .text h1{
        font-size: 36px;
    }
    .text h3{
        margin-top: -3px;
        font-size: 18px;
        white-space: nowrap;
    }
    .text p{
        display:none;
    }
    .buttons{
        margin-top: 0px;
        margin-left: 205px;

    }
    .buttons div{
        margin-left: 0px;
    }

    .container1{
        margin-top: 74px;
        margin-right: 0px;
        width:480px;
    }
    .blurbs{
        float: none;
        width: 462px;
        height: 121px;
        margin-top: 33px;
        margin-left: 0px;
    }
    .label{
        margin-top: 1px;
        height: 27px;
        width: 36px;
        margin-left: 22px
    }
    .parag{
        width: 390px;
        height: 112px;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .parag h2{
        font-size: 23px;
        margin-left: 1px
    }
    .parag p{
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 16px;
    }
    .blurbs a{
        margin-left: 0px;
        margin-top: 100px;
        margin-right: -359px;
    }
    .starthere{
        float: none;
        margin-top: 181px;
        margin-left: 0px;
        margin-right: 24px;
    }
    .comics{
        height: 272px;
        width: 412px;
        margin-left: -5px;
        margin-top: 0px;
        margin-bottom: 27px;
    }
    .faceimg{
        margin-left: -25px;
        margin-top: 18px;
    }
    .comics_text{
        width: 385px;
        height: 220px;
        overflow: hidden;
        margin-top: 0px;
    }
    .comics_text h1{
        font-size: 28px;
        margin-top: 25px;
        margin-left: 13px;
        float: left;
    }
    .comics_text h2{
        font-size: 27px;
        margin-top: 25px;
        margin-left: 12px;
        float: left
    }
    .comics_text p{
        margin-top: 7px;
        margin-left: 11px;
        font-size: 19px;
    }
    .r_buttons{
        margin-left: 210px;
        margin-top: 0px;
    }
    .updates{
        float: none;
        margin-left: 82px;
        margin-top: 42px;
    }
    .updates a{
        margin-left: 0px
    }
    .updates p {
        font-size: 13px;
    }
    .updates_text{
        width: 209px;
        margin-top: 6px;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 29px
    }
    .line {
        height: 52px;
        width: 307px;
        font-size: 15px;
    }
    .updates_link{
        margin-top: 12px;
        margin-left: 224px;
    }
    .container3{
        margin-left: 0px;
        margin-top: 34px;
        height: 70px;
        width: 480px;
    }
    .icon1{
        margin-right: 64px;
    }
    .icon2{
        margin-right: 42px;
    }

    .icon4{
        margin-left: 11px;
        margin-top:14px;
    }
    .icon5{
        margin-left: 20px;
        margin-right: 37px;
        margin-top:14px;
    }
    .icon6{
        margin-top:14px;
    }
    .container4{
        margin-right: 0px;
        margin-top: 75px;;
    }
    .notes{
        margin-top: 291px;
        margin-left:0px;
        float:none;
    }
    .note1{
        margin-right: 22px;
    }
    .note2{
        margin-right: 22px;
    }
    .note3{
        margin-right: 22px;
    }

    .some_text{
        width: 440px;
        height: 183px;
        overflow: hidden;
    }
    .some_text h2{
        font-size: 24px;
        margin-bottom:7px;
    }
    .some_text p{
        font-size:17px;
    }
    .footer__menu{
        height: 175px;
        width: 480px;
        margin-left: 0px;
        float: none;N
        margin-top: 0px;
    }
    .designer{
        margin-top: 0px;
        margin-left: 171px;
        margin-right: 0px;
        float: none;
    }
    .footer__menu__item{
        margin-top: 87px;
        margin-left: 20px;
        margin-right: 3px
    }


}

/************************************************************************************/

@media(max-width:320px) \0screen {
    .bg{
        width:320px;
    }
    .b_g1{
        height:516px;
        background-image:
    }
    .b_g2{
        height:597px;
        background-image:url(../img/background1_320px.png);
    }
    .b_g3{
        height:786px;
    }
    .b_g4{
        height:420px;
    }
    .b_g5{
        height:668px;
        display: none;
    }
    .b_g6{
        height:200px;
    }
    .b_g7{
        margin-top:203px;
        height:246px;
        display: none;
    }
    .wrapper{
        width:320px;
    }
    .logo{
        margin-top: 62px;
        margin-right: 0px;
        margin-left:84px;
    }

    .menu{
        text-align: center;
        margin-top: 15px;
        height: 249px;
        width: 241px;
        position: absolute;
        border-radius: 10px;
        margin-left: 39px;
        border: none;
        background-color: rgba(116,80,131,0);
    }
    .menu ul{
        margin-top: 0px;
    }
    #menu--item1{
        padding-top: 4px;
        width: 243px;
        margin-top: 0px;
        height: 36px;
        margin-left: -1px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
    }
    #menu--item2{
        display:none;

    }
    #menu--item3{
        display:none;

    }
    #menu--item4{
        display:none;

    }
    #menu--item5{
        display:none;

    }
    #menu--item6{
        display:none;

    }
    #menu--item1:hover{
        background-color:rgba(0,0,0,0);
        border-bottom:0px solid #edbfff;
    }
    .slider{
        width:320px;
    }
    .arrow_right{
        margin-right: 0px;
        margin-top: 188px;
    }
    .arrow_left{
        margin-right: 32px;
        margin-top: 188px
    }

    .iphone{
        margin-right: 3px;
        margin-top: -10px;
        display:none;
    }
    .iphone img{
        width:192px;
    }
    .text{
        width: 204px;
        height: 141px;
        margin-right: 25px;
        margin-top: 176px;
    }
    .text h1{
        font-size: 36px;
        letter-spacing: 0px;
    }
    .text h3{
        margin-top: -2px;
        font-size: 17px;
        white-space: nowrap;
        letter-spacing: 0.4px;
    }
    .text p{
        display:none;
    }
    .buttons{
        margin-top: 0px;
        margin-left: 125px;

    }
    .buttons div{
        margin-left: 0px;
    }


    .container1{
        margin-top: 112px;
        margin-right: 0px;
        width:320px;
    }
    .blurbs{
        float: none;
        width: 277px;
        height: 94px;
        margin-top: 63px;
        margin-left: 21px;
    }
    .label{
        margin-top: 6px;
        height: 27px;
        width: 36px;
        margin-left: 0px;
    }
    .parag{
        width: 234px;
        height: 101px;
        overflow: hidden;
        margin-bottom: 2px;
    }
    .parag h2{
        font-size: 23px;
        margin-left: 1px
    }
    .parag p{
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 16px;
    }
    .blurbs a{
        margin-left: 19px;
        margin-top: 10px;
    }

    .starthere{
        float: none;
        margin-top: 191px;
        margin-left: 0px;
        margin-right: 66px;
        width: 300px
    }
    .comics{
        height: 272px;
        width: 260px;
        margin-left: 6px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .faceimg{
        margin-left: -21px;
        margin-top: 18px;
    }
    .comics_text{
        width: 223px;
        height: 244px;
        overflow: hidden;
        margin-top: 0px;
    }
    .comics_text h1{
        font-size: 23px;
        margin-top: 23px;
        margin-left: 3px;
        float: none;
    }
    .comics_text h2{
        font-size: 23px;
        margin-top: -2px;
        margin-left: 4px;
        float: none;
    }
    .comics_text p{
        margin-top: 2px;
        margin-left: 4px;
        font-size: 18px
    }
    .r_buttons{
        height: 40px;
        width: 100px;
        margin-top: 27px;
        margin-left: 146px
    }
    .updates{
        float: none;
        margin-left: 20px;
        margin-top: 19px;
        width: 300px
    }
    .updates a{
        margin-top: 10px;
        margin-left: 0px;
    }
    .updates_text{
        width: 212px;
        margin-top: 1px;
        overflow: hidden;
        white-space: nowrap;
        margin-right: 36px

    }
    .updates p {
        font-size: 13px;
    }
    .line{
        width:300px;
    }
    .updates_link{
        margin-left: 0px;
        width:100px;

    }

    .container3{
        margin-left: 0px;
        margin-top: 22px;
        height: 70px;
        width: 320px
    }
    .icon1{
        margin-left: 0px;
        margin-top: 19px;
        margin-right: 57px;
    }
    .icon2{
        margin-left: 53px;
        margin-top: 83px;
        margin-right: 38px;
    }
    .icon3{
        margin-left: 30px;
        margin-top: 170px;
        margin-right: -140px;
    }
    .icon4{
        margin-left: 0px;
        margin-top: -62px;
        margin-right: 0px;
    }
    .icon5{
        margin-left: 0px;
        margin-right: -8px;
        margin-top: 62px;
    }
    .icon6{
        margin-top: 43px;
        margin-right: 0px;
    }

    .notes{
        display: none;
    }
    .footer__menu{
        height: 175px;
        width: 320px;
        margin-left: 0px;
        float: none;
        margin-top: 0px;
        display:none;
    }
    .designer{
        margin-top: 162px;
        margin-left: 90px;
        margin-right: 0px;
        float: none;
    }
    .footer__menu__item{
        margin-top: 44px;
        margin-left: 20px
    }

}